<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515281516351-m6r9oot8sorv2kbcolqj7tpa3v9o4fri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515281516351-m6r9oot8sorv2kbcolqj7tpa3v9o4fri</string>
	<key>API_KEY</key>
	<string>AIzaSyDMAAOtm-LGsIzqBIMdJLej5eeYo9MdAt8</string>
	<key>GCM_SENDER_ID</key>
	<string>515281516351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.akiho.webrtc</string>
	<key>PROJECT_ID</key>
	<string>webrtc-agora</string>
	<key>STORAGE_BUCKET</key>
	<string>webrtc-agora.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515281516351:ios:3f0a8533bb7822f534858a</string>
</dict>
</plist>